@import "primevue/resources/themes/md-dark-deeppurple/theme.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

.title-page {
  font-family: fantasy;
}
html {
  background: rgb(10, 0, 184);
  background: linear-gradient(
    90deg,
    rgba(10, 0, 184, 1) 0%,
    rgba(22, 15, 192, 1) 0%,
    rgba(53, 53, 212, 1) 0%,
    rgba(0, 164, 255, 1) 100%
  );
}
